@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f8fafc;
}

footer {
  width: 100%;
}

a {
  word-wrap: break-word;
}

li {
  list-style-type: none;
}

a:focus,
a:hover,
a:active,
a.active {
  color: #0084ca;
  text-decoration: none;
  box-shadow: none;
}

#header_mobile,
#footer_mobile {
  display: none;
}

.breadcrumb-item a h1 {
  font-size: inherit;
  line-height: 0;
  padding: 0;
}

.popover-container {
  background-color: #fff;
  box-shadow: 0px 1px 5px 2px rgba(34, 60, 80, 0.05);
  border-radius: 0.2rem;
}

/****************************************************************************************************/
/* Основной контент */
/****************************************************************************************************/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  max-width: 1108px;
  min-height: calc(100vh - 455px);
  border-radius: 0.2rem;
}

section {
  padding: 0.8rem;
  border-radius: 0.2rem;
  box-shadow: 0px 3px 10px 2px rgba(34, 60, 80, 0.05);
}

section .breadcrumb,
section .breadcrumb-item {
  padding-top: 0;
  margin-top: 0;
}

.bg-white {
  background-color: #fff;
}

/****************************************************************************************************/
/* Кнопки */
/****************************************************************************************************/
.btn:focus,
.btn:hover,
.btn:active,
.btn.active {
  box-shadow: none;
}

a.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #fff;
  transition: 0.15s;
  border: none;
  color: #fff;
  border-radius: 0.4rem;
  justify-content: center;
}

/* Альтернативная кнопка */
a.btn.btn-alternative {
  background: #b8d02f;
  border-color: #b8d02f;
  color: #fff;
}

a.btn.btn-alternative:focus,
a.btn.btn-alternative:hover {
  background: #a6bb2a;
  border-color: #a6bb2a;
  color: #fff;
}

a.btn.btn-alternative:active,
.btn.btn-alternative.active {
  background: #a6bb2a;
  border-color: #a6bb2a;
  color: #fff;
}

a.btn.btn-alternative.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

/* Вертикальная кнопка */
a.btn-vertical {
  min-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  font-weight: 600;
  color: #303742;
  border: none;
  background: none;
}

a.btn-vertical:focus,
a.btn-vertical:hover {
  background: none;
  color: #0084ca;
}

/****************************************************************************************************/
/* Шапка */
/****************************************************************************************************/
.nav-menu {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 18px;
  padding: 2px 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Верхний уровень меню */
#header_desktop section.container:first-child {
  background-color: #334155;
  padding: 0;
}

#header_desktop section.container:first-child a {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  transition: 0.15s;
}

#header_desktop section.container:first-child a:hover {
  color: #0084ca;
}

#header_desktop section.container:first-child a.btn {
  font-weight: 500;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}

#header_desktop section.container:first-child a.btn:hover {
  color: #0084ca;
}

#header_desktop section.container:first-child a.btn svg path {
  stroke-width: 0.1rem;
  stroke: #fff;
  transition: 0.15s;
}

#header_desktop section.container:first-child a.btn:hover svg path {
  stroke: #0084ca;
}

/* Средний уровень меню */
#header_desktop .container:nth-child(2) {
  background-color: #fff;
  padding: 4px 0 4px;
  border-bottom: 1px solid rgba(71, 85, 105, 0.3137254902);
}

#header_desktop .container:nth-child(2) .popover-container a {
  font-weight: 600;
  font-size: inherit;
  color: #00a5fd;
}

#header_desktop .container:nth-child(2) a:hover {
  color: #0084ca;
}

#header_desktop .container:nth-child(2) .navbar-brand img {
  height: 28px;
}

#header_desktop .container:nth-child(2) a.btn {
  font-size: 13px;
  font-weight: 600;
  color: #303742;
}

#header_desktop .container:nth-child(2) a.btn:hover {
  font-size: 13px;
  font-weight: 600;
  color: #0084ca;
}

#header_desktop .container:nth-child(2) a.btn svg {
  width: 18px;
  height: 18px;
}

#header_desktop .container:nth-child(2) a.btn svg path {
  stroke: #303742;
}

#header_desktop .container:nth-child(2) a.btn:hover svg path {
  stroke: #0084ca;
}

#header_desktop .container:nth-child(2) a.btn.input-group-btn svg path {
  stroke: #ffffff;
}

#header_desktop .container:nth-child(2) a.btn.input-group-btn:hover svg path {
  stroke: #ffffff;
}

/* Нижний уровень меню */
#header_desktop .container:nth-child(3) {
  background-color: #fff;
  padding: 6px 0 8px;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

#header_desktop .container:nth-child(3) a.btn {
  color: #fff;
}

#header_desktop .container:nth-child(3) a.btn:hover {
  color: #fff;
}

#header_desktop .container:nth-child(3) a {
  font-weight: 500;
  font-size: 14px;
  color: #303742;
}

#header_desktop .container:nth-child(3) a:hover {
  color: #0084ca;
}

#header_desktop .container:nth-child(3) a svg path {
  stroke: #fff;
}

/****************************************************************************************************/
/* Подвал */
/****************************************************************************************************/
#footer_desktop {
  width: 100%;
  min-height: 80px;
  background-color: #f1f5f9;
}

#footer_desktop .nav-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 0;
  padding: 1rem 0;
}

#footer_desktop .navbar-brand img {
  height: 32px;
}

#footer_desktop ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

#footer_desktop ul li a {
  font-size: 0.7rem;
  color: #303742;
}

#footer_desktop ul li a:hover {
  color: #0084ca;
}

/****************************************************************************************************/
/* Меню Dropdown вверх */
/****************************************************************************************************/
.dropdown .menu {
  width: 280px;
}

.dropdown .menu a {
  word-wrap: break-word;
  font-size: 0.9rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

.dropdown.dropdown-up .menu {
  top: auto;
  bottom: 120%;
}

.dropdown-center .menu {
  left: -100px;
}

.dropdown .menu .menu-item > a {
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.dropdown .menu .menu-item > a .info-badge {
  flex-grow: 1;
  text-align: right;
}

.dropdown .menu .menu-item > a svg {
  width: 18px;
  height: 18px;
}

.divider[data-content]::after,
.divider-vert[data-content]::after {
  text-transform: uppercase;
  color: #bcc3ce;
  font-weight: 600;
}

.divider {
  border-top: 0.075rem solid #f1f3f5;
  height: 0.05rem;
  margin: 0.4rem 0;
}

/****************************************************************************************************/
/* Инфо бейджи */
/****************************************************************************************************/
.info-badge[data-badge]::after,
.info-badge:not([data-badge])::after {
  background: #0084ca;
  border-radius: 0.5rem;
  color: #fff;
  content: attr(data-badge);
  display: inline-block;
}

.info-badge[data-badge]::after {
  font-size: 0.8rem;
  height: 1rem;
  line-height: 1;
  min-width: 1rem;
  padding: 0.1rem 0.2rem;
  text-align: center;
  white-space: nowrap;
}

/****************************************************************************************************/
/* Карточки */
/****************************************************************************************************/
.card {
  box-shadow: 0px 3px 10px 2px rgba(34, 60, 80, 0.05);
  transition: 0.1s;
}

a.card {
  border: none;
  color: #303742;
}

a.card:hover {
  box-shadow: 0px 1px 5px 2px rgba(34, 60, 80, 0.05);
}

.column {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.card-title {
  height: 2.1rem;
  font-size: 0.7rem;
  font-weight: 700;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-responsive {
  -o-object-fit: cover;
     object-fit: cover;
}

.img-square {
  aspect-ratio: 1/1;
}

.img-horizontal {
  aspect-ratio: 16/9;
}

.img_vertical {
  aspect-ratio: 59/85;
}

.card-body {
  height: 2.9rem;
  font-size: 0.7rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
  color: #66758c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.card-footer span {
  font-size: 14px;
}

.card-footer span:nth-child(1) {
  flex-grow: 1;
}

.card-footer svg {
  width: 0.75rem;
  height: 0.75rem;
}

/****************************************************************************************************/
/* БЛОКИ */
/****************************************************************************************************/
.block_avatar {
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-bottom: 0.4rem;
}

.avatar_icon {
  width: 36px;
  height: 36px;
}

.avatar_icon > img {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  box-shadow: 0px 1px 5px 2px rgba(34, 60, 80, 0.05);
}

.avatar_title {
  font-size: 0.8rem;
}

.carousel-nav {
  padding: 0px 8px;
  height: 30px;
  border-radius: 50px;
  background-color: rgba(247, 248, 249, 0.25);
  border: 0.05px solid rgba(247, 248, 249, 0.5);
  color: #f7f8f9;
}

figure.carousel-item img {
  width: 100%;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/****************************************************************************************************/
/* ПОДКЛЮЧЕНИЕ ПЛАНШЕТНОЙ И МОБИЛЬНОЙ ВЕРСИЙ */
/****************************************************************************************************/
@media (min-width: 768px) and (max-width: 960px) {
  /****************************************************************************************************/
  /* Шапка */
  /****************************************************************************************************/
  #header_mobile,
#footer_mobile {
    display: none;
  }
  .container {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  main {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  #header_desktop .container:nth-child(3) a {
    font-size: 12px;
  }
  #footer_desktop .navbar-brand img {
    height: 24px;
  }
}
@media (min-width: 280px) and (max-width: 767px) {
  #header_desktop,
#footer_desktop {
    display: none;
  }
  #header_mobile,
#footer_mobile {
    display: block;
  }
  .container {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  main {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding-bottom: 82px;
    min-height: calc(100vh - 215px);
  }
  section {
    padding: 0.6rem;
  }
  /****************************************************************************************************/
  /* Верхнее меню */
  /****************************************************************************************************/
  #header_mobile {
    width: 100%;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 12px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  #header_mobile .container .navbar-brand {
    height: 24px;
  }
  #header_mobile .container .navbar-brand img {
    height: 32px;
  }
  #header_mobile .container a.btn:hover {
    background: initial;
  }
  #header_mobile .container a.btn svg {
    width: 28px;
    min-height: 28px;
  }
  #header_mobile .container a.btn svg path {
    stroke: #66758c;
  }
  #header_mobile .container a.btn:hover svg path {
    stroke: #0084ca;
  }
  #header_mobile .container a.btn.input-group-btn:hover {
    background: #0084ca;
  }
  #header_mobile .container a.btn.input-group-btn svg path {
    stroke: #ffffff;
  }
  #header_mobile .container a.btn.input-group-btn:hover svg path {
    stroke: #ffffff;
  }
  /****************************************************************************************************/
  /* Нижнее меню */
  /****************************************************************************************************/
  #footer_mobile .container {
    background-color: #fff;
    padding: 8px 6px;
    border-top: 1px solid rgba(71, 85, 105, 0.3137254902);
    position: fixed;
    bottom: 0;
  }
  #footer_mobile .container .nav-menu {
    gap: 0;
  }
  #footer_mobile .container a.btn {
    font-size: 11px;
    font-weight: 600;
    color: #66758c;
  }
  #footer_mobile .container a.btn:hover {
    color: #0084ca;
  }
  footer#footer_mobile .container a.btn img {
    width: 30px;
    height: 30px;
  }
  #footer_mobile .container a.btn svg {
    width: 28px;
    min-height: 28px;
  }
  #footer_mobile .container a.btn svg path {
    stroke: #66758c;
  }
  #footer_mobile .container a.btn:hover svg path {
    stroke: #0084ca;
  }
  .dropdown .menu a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
  }
  /****************************************************************************************************/
  /* Карточки */
  /****************************************************************************************************/
  .card-title {
    height: 2.8rem;
    font-size: 0.9rem;
    font-weight: 700;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-body {
    height: 3.4rem;
    font-size: 0.9rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-footer {
    color: #66758c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }
}/*# sourceMappingURL=ui-style.css.map */